report {
  enabled = true
  overwrite = true
}

params {
  //Primary inputs
  vcf = "test.vcf"
  gene_panels = "../gene_panels.csv"
  panel_name = "BreastCancer"
  vpot_params = "../default_ppf_hg38.txt"
  annovar_params = "-protocol avsnp150,1000g2015aug_all,clinvar_20221231,gnomad40_genome,dbnsfp42a -operation f,f,f,f,f"
  ref_name = "hg38"

  //Directories
  output_dir = "output"
  annovar_dir = "~/bin/annovar"  
  humandb_dir = "/groups/Pharm/humandb"
  vpot_dir = "~/bin/VPOT-nf"

  //Optional inputs
  ref_fasta = "/groups/Pharm/data/hg38.fa"
  normalise = true 
  column_file = "../columns_hg38.csv"

  //Niche options (don't edit without reason!)
  intermediate_files = false
  pre_annotated = false
  enable_pass_filter = true
}
